# vim: set ft=conf ts=4 sw=4 tw=0 fdm=marker noet :
# 140000 oldest backup found
# 181110 major update
# 200925 dual monitor setup

# to reload changes:
# killall -SIGUSR1 tint2
# also useful is to start tint2 from terminal and read logs

# Backgrounds																{{{
# -----------------------------------------------------------------------------
# Gradients
# Gradient 1
gradient = vertical
start_color = #2d2d2d 80
end_color = #000000 80
color_stop = 70.000000 #1c1c1c 80

# -----------------------------------------------------------------------------
# Background 0 - special background, always  transparent

# Background 1: Taskbar
rounded = 4
border_width = 1
border_sides = TBLR
background_color = #101010 100
border_color =     #0000ff 100

# Background 2: Default task
rounded = 2
border_width = 2
border_sides = B
background_color =         #202020 100
border_color =             #3366ff 100
background_color_hover =   #64b5f6 50  # blue300
border_color_hover =       #2196f3 100 # blue500
background_color_pressed = #2196f3 60  # blue500
border_color_pressed =     #0d47a1 100 # blue900

# Background 3: Active task
rounded = 2
border_width = 2
border_sides = B
background_color =         #404040 100
border_color =             #ffff00 100
background_color_hover =   #fff176 45  # yellow300
border_color_hover =       #fbc03d 100 # yellow700
background_color_pressed = #ffeb3b 60  # yellow500
border_color_pressed =     #f57f17 100 # yellow900

# Background 4: Urgent task
rounded = 2
border_width = 2
border_sides = B
background_color =         #ffcdd2 0   # red100
border_color =             #d32f2f 100 # red700
background_color_hover =   #e57373 30  # red300
border_color_hover =       #f44336 100 # red500
background_color_pressed = #f44336 60  # red500
border_color_pressed =     #b71c1c 100 # red900

# Background 5: Iconified task
rounded = 2
border_width = 2
border_sides = B
background_color =         #f5f5f5 0   # grey100
border_color =             #9e9e9e 60  # grey500
background_color_hover =   #e0e0e0 30  # grey300
border_color_hover =       #616161 100 # grey700
background_color_pressed = #9e9e9e 60  # grey500
border_color_pressed =     #212121 100 # grey900

# Background 6: Tooltip
rounded = 2
border_width = 1
background_color =         #64b5f6 100 # blue300
border_color =             #000000 100 # white

# Background 7: Active Taskbar
rounded = 2
border_width = 1
border_sides = TBLR
background_color =         #e57373 50  # red300
border_color =             #ffffff 30  # white
background_color_hover =   #f44336 50  # red500
border_color_hover =       #ffffff 30  # white
background_color_pressed = #d32f2f 50  # red700
border_color_pressed =     #ffffff 30  # white

# Background 8: Battery
rounded = 2
border_width = 2
border_sides = TBLR
background_color = #000000 100
border_color =     #ff0000 100

# Background 9: Clock
rounded = 2
border_width = 1
border_sides = TBLR
# background_color = #101010 100
background_color = #000000 100
border_color =     #ff8000 100

# Background 10: Desktop name
rounded = 2
border_width = 2
border_sides = TBLR
background_color = #000000 100
border_color =     #ff8000 100

# Background 11: Launcher
rounded = 2
border_width = 2
border_sides = BTLR
background_color = #202020 100	# grayish
border_color =     #993300 100	# brownish

# Background 12: Whole panel TODO 181110: id: 1
# rounded = 4
# border_width = 0
# border_sides = TBLR
# gradient_id = 1
# background_color = #101010 100
# border_color =     #00ff00 100
rounded = 0
border_width = 1
border_sides = T
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = #000000 80
border_color = #333333 80
gradient_id = 1
background_color_hover = #000000 80
border_color_hover = #555555 80
background_color_pressed = #000000 80
border_color_pressed = #555555 80

# Background 13: Executor1: CPU1
# rounded = 2
# border_width = 2
# border_sides = BTLR
# background_color = #202020 100	# grayish
# border_color =     #993300 100	# brownish
# ------------------------------------------------------------------------- }}}
# Panel																		{{{
# -----------------------------------------------------------------------------
# T - taskbar
# B - battery
# L - launcher
# S - system tray
# E - executor
# C - clock
# : - separator
panel_items = TE:E:E:E:EEBSC
panel_size = 100% 37
panel_margin = 0 0
panel_background_id = 12
panel_dock = 0	# must be 0 when WM is used to place docks to left/right monitor
panel_position = top center horizontal
panel_layer = top
panel_monitor = primary
# panel_monitor = all
# strut_policy = none # follow_size
panel_window_name = tint2
# panel_window_name = tint2-master
wm_menu = 1		# forward mouse clicks to WM
disable_transparency = 1
mouse_effects = 1
font_shadow = 0
mouse_hover_icon_asb = 100 0 10
mouse_pressed_icon_asb = 100 0 0
# ------------------------------------------------------------------------- }}}
# Taskbar																	{{{
# -----------------------------------------------------------------------------
taskbar_mode = single_desktop
taskbar_hide_different_monitor = 1
taskbar_background_id = 1
taskbar_padding = 1 2 2		# H V spacing
taskbar_sort_order = application

taskbar_name = 1	# show virtual desktop names
taskbar_name_padding = 6 2
taskbar_name_background_id = 3	# XXX TODO 181110
# taskbar_name_font = sans 18
# taskbar_name_font_color        = #aaaaaa 100
taskbar_name_active_font_color = #B0B0B0 100
taskbar_name_active_background_id = 10


# taskbar_active_background_id = 1
# # taskbar_hide_inactive_tasks = 0
# taskbar_hide_different_monitor = 0
# taskbar_always_show_all_desktop_tasks = 0
# taskbar_distribute_size = 0
# taskbar_sort_order = none
# task_align = left
#
# ------------------------------------------------------------------------- }}}
# Battery																	{{{
# -----------------------------------------------------------------------------
# panel_items+=B
battery = 1				# enable
battery_hide = never	# never hide
# bat1_format = %p %t		# INFO 181110: same as default, but not in two line
# bat1_format = %p
# bat2_format = %t
battery_low_status = 10
battery_low_cmd = notify-send "battery low"
bat1_font = sans 12
bat2_font = sans 8
battery_font_color = #cccccc 100
battery_padding = 2 0 # horizontal vertical spacing
battery_background_id = 8
# ------------------------------------------------------------------------- }}}
# Task																		{{{
# -----------------------------------------------------------------------------
task_icon = 1
task_text = 1
task_centered = 1
task_tooltip = 1
task_thumbnail = 1
task_maximum_size = 200


task_background_id = 2
task_active_background_id = 3
task_urgent_background_id = 4
task_iconified_background_id = 5
# task_font = Ubuntu Mono 15
# task_font = Sans 15

mouse_left = toggle_iconify
mouse_middle = close
mouse_right = none
mouse_scroll_up = none
mouse_scroll_down = none
# ------------------------------------------------------------------------- }}}
# Tooltip																	{{{
# -----------------------------------------------------------------------------
tooltip_show_timeout = 0.5
tooltip_hide_timeout = 0.1
tooltip_padding = 2 2
tooltip_background_id = 6
tooltip_font_color = #222222 100
tooltip_font = sans 14
# ------------------------------------------------------------------------- }}}
# Clock																		{{{
# -----------------------------------------------------------------------------
# time1_format = %a %d.%m.%Y. %H:%M
time1_format = %a %H:%M
time2_format = %d.%m.%Y.
time1_font = sans 13 bold
time2_font = sans 12
clock_font_color = #ffffff 100

clock_padding = 5 0
clock_background_id = 9
clock_tooltip = %A, %d. %B %Y. %H:%M:%S
# clock_lclick_command = LC_ALL=en_GB.UTF-8 gsimplecal
clock_lclick_command = LC_ALL=en_GB.UTF-8 zenity --calendar --text ""
clock_lclick_command = ~/scripts/calendar.sh

clock_mclick_command = ~/scripts/show_desktop.sh
# ------------------------------------------------------------------------- }}}
# Launcher																	{{{
# -----------------------------------------------------------------------------
launcher_padding = 2 4 2
launcher_background_id = 11
launcher_icon_background_id = 0
launcher_icon_size = 24
launcher_icon_asb = 100 0 0
launcher_icon_theme_override = 0
startup_notifications = 1
launcher_tooltip = 1

# launcher_item_app = /usr/share/applications/debian-uxterm.desktop
launcher_item_app = /usr/local/share/applications/xterm.desktop
launcher_item_app = /usr/local/share/applications/pcmanfm.desktop
launcher_item_app = /usr/local/share/applications/firefox.desktop
# launcher_item_app = /home/johnny/dot_files/gui/volume.desktop
# launcher_item_app = /usr/share/applications/skypeforlinux.desktop
# ------------------------------------------------------------------------- }}}
# System tray (notification area)											{{{
# -----------------------------------------------------------------------------
systray_padding = 0 0
systray_background_id = 0
systray_sort = right2left
# systray_icon_size = 32
# systray_icon_asb = 100 0 0
# systray_monitor = primary	# 1 or 2 or primary
systray_monitor = all
# ------------------------------------------------------------------------- }}}
# Separators																{{{
# -----------------------------------------------------------------------------
# Separator 1
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8

#-------------------------------------
# Separator 2
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8

#-------------------------------------
# Separator 3
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8

#-------------------------------------
# Separator 4
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8

#-------------------------------------
# Separator 5
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8

#-------------------------------------
# Separator 6
separator = new
separator_background_id = 0
separator_color = #5d8185 60
separator_style = line
separator_size = 2
separator_padding = 4 8
# ------------------------------------------------------------------------- }}}
# Executor 1 - CPU1															{{{
# -----------------------------------------------------------------------------
# Display CPU temperature and current frequency
execp = new
execp_command = ~/scripts/tint2-cpu1.sh
execp_interval = 1
execp_lclick_command = xterm -e htop

execp_font = sans 9
execp_font_color = #aaffaa 100
# ------------------------------------------------------------------------- }}}
# Executor 2 - CPU2															{{{
# -----------------------------------------------------------------------------
# Display CPU usage
execp = new
execp_command = ~/scripts/tint2-cpu2.sh
execp_interval = 1
execp_lclick_command = xterm -e htop

execp_font = sans 9
execp_font_color = #aaffaa 100
# ------------------------------------------------------------------------- }}}
# Executor 3 - RAM															{{{
# -----------------------------------------------------------------------------
# Display free RAM in percentage and MB
execp = new
execp_command = ~/scripts/free-memory.sh
execp_interval = 1

execp_font = sans 9
execp_font_color = #aaffaa 100
# ------------------------------------------------------------------------- }}}
# Executor 4 - WLAN															{{{
# -----------------------------------------------------------------------------
# Display CPU usage
execp = new
execp_command = ~/scripts/wlan-status.sh
execp_interval = 10
execp_lclick_command = doas wifimgr

execp_font = sans 9
execp_font_color = #aaffaa 100
# ------------------------------------------------------------------------- }}}
# Executor 5 - example														{{{
# -----------------------------------------------------------------------------
execp = new
# execp_command =
execp_interval = 1
execp_has_icon = 0
execp_cache_icon = 0
execp_continuous = 0
execp_markup = 1

execp_lclick_command = zenity --info --title "tint2 example" --text "Mouse left click"
execp_rclick_command = zenity --info --title "tint2 example" --text "Mouse right click"
execp_mclick_command = zenity --info --title "tint2 example" --text "Mouse middle click"
execp_uwheel_command = zenity --info --title "tint2 example" --text "Mouse wheel up"
execp_dwheel_command = zenity --info --title "tint2 example" --text "Mouse wheel down"

# execp_font = sans 9
# execp_font_color = #aaffaa 100
execp_font = Liberation Mono 8
execp_font_color = #000000 100
execp_padding = 0 0
execp_background_id = 0
execp_centered = 1
execp_icon_w = 0
execp_icon_h = 0
# ------------------------------------------------------------------------- }}}
