# Snippets for shell
# Created 2018.01.16. 00:57 by Johnny Sorocil.
# vim:ft=snippets:

# _skel: auto inserted when creating new file
snippet _skel "/bin/sh"
#!/bin/sh
${0}
endsnippet

snippet binsh "/bin/sh"
#!/bin/sh
${0}
endsnippet

snippet shsh "/bin/sh"
#!/bin/sh
${0}
endsnippet

snippet bash "/usr/bin/env bash"
#!/usr/bin/env bash
${0}
endsnippet

snippet binbash "/usr/bin/env bash"
#!/usr/bin/env bash
${0}
endsnippet
