# snippets for writting Snippets
# Created 2018.01.14. 22:23 by Johnny Sorocil.
# vim:ft=snippets:

snippet snip2
snippet ${1:trigger} "${2:description}"
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet
